/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.env
/.idea/*
/public/images/events/*
/public/images/groups/*
/public/images/group_post/*
/public/assets/*.jpg
/public/assets/*.png
/public/assets/*.gif
/public/socketjs/config-server.js
