/*.map-class{

	width: 100%;
	height: 100%;
}
*/

   #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#Yesme{

    position:absolute;
    cursor:pointer;
    background:#2771e8;
    width:100px;
    height:100px;
    /* -width/2 */
    margin-left:-50px;
    /* -height + arrow */
    margin-top:-110px;
    border-radius:50%;
    padding:0px;

}


 #Yesme:after{
    content:"";
    position: absolute;
    bottom: -10px;
    left: 40px;
    /*border-width: 10px 10px 0;*/
    border-style: solid;
    border-color: #2771e8 transparent;
    display: block;
    width: 0;
}


#Yesme img {
    width:90px;
    height:90px;
    margin:5px;
    border-radius:50%;
}



.customMarker {
    position:absolute;
    cursor:pointer;
    background:#d71818;
    width:100px;
    height:100px;
    /* -width/2 */
    margin-left:-50px;
    /* -height + arrow */
    margin-top:-110px;
    border-radius:50%;
    padding:0px;



}
.customMarker:after {
    content:"";
    position: absolute;
    bottom: -10px;
    left: 40px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #d71818 transparent;
    display: block;
    width: 0;
}
.customMarker img {
    width:90px;
    height:90px;
    margin:5px;
    border-radius:50%;
}

#floating-panel {
    cursor: pointer;
  position: absolute;
  top: 10px;
  left: 1%;
  z-index: 5;
  background-color: #fff;
  margin-left: 100px;
}
#floating-panel {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 20px;
    font-weight: 500;
}

#floating-panel{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 6px 6px -6px #777;
}
#floating-panel a{
    text-decoration: none;
    color: #0a0a0a;
}

#floating-panel2 {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}





#Yesme .pulse {
  position: absolute;
  margin-top: 50px;
  margin-left: -1px;
  -webkit-transform: rotateX(55deg);
          transform: rotateX(55deg);
}

#Yesme .pulse::after {
  display: block;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-animation: pulsate 1s ease-out;
          animation: pulsate 1s ease-out;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px 3px #f93c11;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.TUalign{
    text-align: center;
    cursor: pointer;
}
.TUalign:hover { 
    background-color: #d71818;
    color: #fff;
}

.TUalign2{
    text-align: left;
    cursor: auto;
}
.TUalign2:hover { 
    background-color: #f1f1f1;
}
.hearderUL{
    background-color: #d71818;
    color: #fff;
}

.upcoming-people-row {
     width: 100%; 
     float: left; 
     background: #f6f6f6; 
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 2px;
  }

  a.profile-link {
    text-decoration: none;
    color: #e2272d !important;
}
.upcoming-user-icon {
    position: absolute;
    right: 0;
}

.left-upcoming-user img {
    float: left;
    border: 1px solid #9d9d9d;
    width: 100px;
}
.upcoming-user-list i:not(.new-state) {
    background-color: #848484;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
a.profile-link {
    text-decoration: none;
    color: #e2272d !important;
}
.upcoming-user-list h2 {
    color: #e2272d;
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
    padding: 15px 0 5px;
    float: left;
}
.upcoming-user-list {
    width: 77%;
    float: right;
    position: relative;
}
.upcoming-user-list p {
    color: #6c6c6c;
    font-size: 14px;
    line-height: normal;
    display: block;
    float: left;
    width: 100%;
    text-align: left;
}
.del{
  height: 100px;
  width: 100px;
}
 img.del {
    display: inline-block;
    text-align: left;
    
   
    }
.astext {
   display: inline-block;
    cursor: pointer;
    position: relative;
   
}
.astext{
      color: #e2272d !important;
      font-size: 18px;
    line-height: normal;
    font-weight: 600;
}

.plug-menu-option ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.plug-menu-option li {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.plug-menu-option li {
    float: left;
    margin-left: 5px;
}
.plug-menu-option li{
    background-color: #848484;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
}
.plug-menu-option{
    margin-bottom: 5px;
}
.prev-btn{
    margin-left: 150px;
}
.filter-option-map{
    margin-left: 25px;
}
.fmpapfilter-width-form{
    width: 150px;
}


.appointment-banner{
    background: url(../../images/ribbon-appoinmebt.png) no-repeat;
    height:50px;
    width: 100%;
    color: #fff;
    z-index: 1000;
}

.appointment-banner{

    margin-left: -20px;
}
.appointment-banner{
    position: absolute;

}

.appointment-banner:before,.appointment-banner:after {
    content:'';
    display: inline-block;
    position:absolute;
    top: 0;

    height: 100%;
    background:inherit;
    background-position:100% 100%;
}
.appointment-banner:before {
    left:-20px;
    background-position: 0 100%;
}
.view-appForm{
    background-color: rgba(0, 0, 0, 0.05);
    background-image:
            linear-gradient(
                    90deg,
                    #d71818 10px,
                    #EEE 10px,
                    #EEE 11px,
                    transparent 11px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;

}
.inside-banner{
    margin-left: 20%;
    margin-top: 1%;

}
.view-appForm form{
    margin-top:10%;
}