.row {
	/*text-align: center;*/
}

.carousel.carousel-profile {
	/*left: 50%;*/
	position: relative;
	width: 500px;
	width: 100%;
	/*margin-left: -470px;*/
	/*margin-left: -15px;*/
	/*overflow: hidden;*/
	height: 500px;
	top: 0px;
}

.carousel.carousel-profile .item {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: url('../../../../images/avatar.png') no-repeat center;
	/*background: url('http://placehold.it/350x250') top left no-repeat;*/
	background-size: 300px !important;
	vertical-align: middle;
	line-height: 150px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: none !important;
}

.carousel.carousel-profile .item .item-percent {
	position: absolute;
	bottom: -100px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}


/*.controls {
	position: absolute;
	top: 500px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
}*/

.controls {
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	/*width: 150px;*/
}

.controls a {
	display: block;
}

.controls .previous {
	float: left;
}

.controls .next {
	float: right;
}

.upcoming-match {
	height: 438px;
	margin-top: 20px;
}

.upcoming-match p.match-label {
	font-family: 'Conv_sacramento.regular';
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	margin-bottom: 5px;
}

.upcoming-match .upcoming-event-people {
	margin-top: 0px;
}

.rotated-sloider {
	width: 100%;
	float: left;
}

.upcoming-event-people {
	width: 100%;
	float: left;
	margin: 20px 0 0;
}

.upcoming-people-row {
	width: 100%;
	float: left;
	background: #f6f6f6;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 2px;
}

.left-upcoming-user {
	width: auto;
	float: left;
}

.left-upcoming-user img {
	float: left;
	border: 1px solid #9d9d9d;
	width: 100px;
}

.upcoming-user-list {
	width: 77%;
	float: right;
	position: relative;
}

.upcoming-user-list h2 {
	color: #e2272d;
	font-size: 18px;
	line-height: normal;
	font-weight: 600;
	padding: 15px 0 5px;
	float: left;
}

.upcoming-user-list ul {
	float: right;
}

.upcoming-user-list ul li {
	float: right;
	margin-left: 1px;
}

.upcoming-user-list ul li img {
	float: left;
}

.upcoming-user-list p {
	color: #6c6c6c;
	font-size: 14px;
	line-height: normal;
	display: block;
	float: left;
	width: 100%;
	text-align: left;
}

.upcoming-user-icon {
	position: absolute;
	right: 0;
}

.upcoming-user-list i:not(.new-state) {
	background-color: #848484;
	color: #fff;
	padding: 8px;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}

.upcoming-user-list h2 span {
	color: #4e4e4e;
	margin-left: 15px;
	font-size: 20px;
}

.upcoming-user-list div.u-favorite {
	position: relative;
	width: 25px;
	display: inline;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}

.upcoming-user-list div.u-favorite img {
	width: 25px;
}

.upcoming-user-list div.u-favorite p.u-content {
	display: none;
	position: absolute;
	left: 0;
	top: 25px;
	width: auto;
	background-color: #848484;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	z-index: 1;
}

.upcoming-user-list div.u-favorite:hover p.u-content {
	display: block;
}


/*.upcoming-user-list{
	margin-top: 10px;
}*/

.btn.match {
	padding: 5px 18px;
	margin-top: 10px;
}

.hide-me {
	display: none;
}